[Unit]
Description=Link Layer Discovery Protocol Agent Daemon.
After=syslog.target network.target
Requires=lldpad.socket

[Service]
Type=forking
Restart=always
StartLimitBurst=3
StartLimitInterval=20
ExecStart=/usr/sbin/lldpad -d -t -V 7
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
Also=lldpad.socket
